.root { -fx-focus-color: transparent; }
.parent{
    -fx-background-color: #fff;
}
.sidebar{
    -fx-background-color: #343a40;
}
.title{
    -fx-label-padding: 30 10 30 10;
    -fx-text-fill: #c6c0c0;
    -fx-font-size: 30;
}
.title-icon{
    -fx-font-size: 35;
    -fx-padding: 0 15 0 0;
}
.bucket-link{
    -fx-font-size: 18;
    -fx-wrap-text: true;
    -fx-underline: false;
    -fx-label-padding: 0 10 0 10;
    -fx-text-fill: #65b9c7;
}
.bucket-link:visited{
    -fx-text-fill: #65b9c7;
}
.bucket-link:hover{
    -fx-text-fill: #368896;
}
.object-tree{
    -fx-font-size: 15;
}
.small-icon{
    -fx-min-height: 128px;
    -fx-min-width: 128px;
    -fx-text-fill: #65b9c7;
    -fx-background-color: #343a40;
}
.progress-indicator .percentage {
    -fx-fill: null;
}
.progress-indicator  {
    -fx-padding: 0 0 -30 0;
    -fx-progress-color: #ff9933;
    -fx-control-inner-background: #ffe6cc;
}
.tree-table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-fill: -fx-text-inner-color;
}
.tree-table-row-cell:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}
.tree-table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 0 0 1 0;
}
.tree-table-row-cell:selected:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}